
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
/*    border: 0; */
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/*CSS reset */
/**{
border: dotted red 4px;
}*/
html, body{
height:100%;}
@font-face{
font-family:fancy font;
src:url(images-icons-fonts/RougeScript-Regular.ttf);
}

.container{
height:100%; 
box-sizing:border-box;
display:grid;
grid-template-columns: minmax(290px, 25%) 3fr;
grid-template-rows:max(200px) auto auto;
grid-template-areas: 
'sidebar   header'
'sidebar  main-content'
'sidebar  main-content';
font-family:'fancy font', 'Times New Roman', Times, serif;
font-weight:bolder;
text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.side-bar{
grid-area:sidebar;
background:url(images-icons-fonts/curtain.jpg);
color:goldenrod;
text-align:center;
display:grid;
grid-template-rows: max(170px) 30px 3fr 2fr;
border-right: solid goldenrod 3px; 
}
a{
color:inherit;
text-decoration:inherit;
}
.side-bar h1{
display:flex;
align-items:center;
font-size:2rem;  
gap:15px; 
padding-right:5%;
font-size:clamp(2rem, 4vw, 3rem);
}
.side-bar h1 svg{
    fill:goldenrod;
    width:clamp(2.5rem, 4vw, 3rem);
     margin-left:10px;
    }
.side-bar div{
    border-top:solid goldenrod 1px;
    display:flex;
    width:60%;
    margin-left:60px;
  }    

.side-bar ul{
list-style-type:none;
  display:grid;
  height:fit-content;
  font-size:clamp(1.5rem, 4vw, 2rem);
  gap:10px;
  text-align:left;
}
  .side-bar ul svg{
    fill:goldenrod;
    width:clamp(2rem, 4vw, 2.5rem);
    margin-left:10px;
   }
  .side-bar li a{
    display:flex;
    align-items:center;
    gap:10px;
    }
   .side-bar li a:hover{
    text-decoration:underline;
}
.side-bar ul li:nth-of-type(7n){
margin-top:20%;}
   
.header{
grid-area: header; 
background:url(images-icons-fonts/curtain.jpg);
display:grid;
grid-template-columns:1fr 1fr;
grid-template-rows:auto;
grid-template-areas:
'search  profile'
'message button';
border-bottom:solid goldenrod 3px; 
}
@media only screen and (width<1500px){
.header{
    grid-template-rows:1fr 2fr 1fr;
    grid-template-areas:
    'search profile'
    'message message'
    'button button';
}

.buttons{
    width:50%;
    justify-self:center;
    margin:10px 0px 10px 0px;
    }}
    @media only screen and (width<900px){
        .buttons{
           
        }
    }
.header input{
    border:solid goldenrod 1px;
    border-radius:10px;
    height:2rem;
    align-self:center;
    font-size:clamp(1rem, 4vw, 2rem);
    background:black;
    color:white;
    font-family:'fancy font', 'Times New Roman', Times, serif;
    font-weight:bold;
    }
   .header input::placeholder{
    color:white;
    font-size:clamp(1rem, 4vw, 2rem);
    font-family:'fancy font', 'Times New Roman', Times, serif;
    font-weight:bold;
    }
.header label{
 display:grid;
 grid-area:search;
 grid-template-columns:1fr 13fr;
 gap:5px;
 margin-left:20px;
}
.header label svg{
    align-self:center;
    max-width:50px;
    min-width: 35px;
    min-height:35px;

}
.header p{
    grid-area:message;
    align-self:center;
    font-size:clamp(1.5rem, 4vw, 2rem);
    justify-self:center;
    color:goldenrod;}
 
.header p a:hover{
text-decoration:underline;

 }  

 .header p::before{
    content:' ';
    display:inline-block;
    background-image:url('images-icons-fonts/Profile-Pic.jpeg');
    background-size:100%;
    height:70px;
    width:70px;
    border:solid goldenrod 1px;
    border-radius:50%;
    position:absolute;
    margin-left:-90px;
    margin-top:-10px;
    
}
.header h2{
   
    align-self:center;
    font-size:clamp(1rem, 4vw, 1.5rem);
    color:goldenrod;
    justify-self:center;

    }
    .header h2::before{
        content:' ';
        display:inline-block;
        background-image:url('images-icons-fonts/Profile-Pic.jpeg');
        background-size:100%;
        height:30px;
        width:30px;
        border:solid goldenrod 1px;
        border-radius:50%;
        margin-right:10px;
        margin-bottom: -8px;
    }
    #header-two{
        grid-area:profile;
        display:grid;
        grid-template-columns:1fr 2fr;
        align-self:center;
    
        
    }
    #header-two svg{
     height:30px;
     width: 30px;
     justify-self:right;
     align-self:center;
    

    }
.buttons{
    grid-area:button;
    display:flex;
    align-self:center;
    height:clamp(50px, 4vw, 30%);
    gap:20px;
    margin-right:20px;
    justify-content:center;
    
     }
 .buttons button{
    font-size:1.5rem;
    flex:1;
    background: linear-gradient(top, #a95, #f2f2f2 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, #a95);
    background: -webkit-linear-gradient(top, #a95, #fea 25%, #ffffff 38%, #dc8  63%, #fea 87%, #a95);
    font-family:'fancy font', 'Times New Roman', Times, serif;
    font-weight:bold;
     border:solid black 2px;
     min-width:130px;
     max-width:190px;
}
      
.main-content{
grid-area: main-content;
background:grey;
display:grid;
grid-template-columns:3fr 1fr;
font-size:clamp(1rem, 4vw, 1.5rem);
}
.projects{
display:grid;
grid-template-rows:1fr 17fr;
}
.projects h3{
align-self:center;
    
}
.projects ul{
    flex:1;  
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
}
   .projects li{
    height:250px;
     }
    .side-section{
    display:grid;
    grid-template-rows:1fr 8fr 1fr 8fr ;
    
}
.side-section section{
background:white;
display:flex;
flex-direction:column;
}
.side-section p{
    flex:1;
}
.side-section h3{
    align-self:center;
}


